version: "3"

services:
  mysql-server:
    image: mysql:5.7.28
    command: --lower_case_table_names=1 --default-authentication-plugin=mysql_native_password
    volumes:
      - mysql:/var/lib/mysql
    ports:
      - "3306:3306"
    expose:
      - "3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=palda
      - MYSQL_USER=boost
      - MYSQL_PASSWORD=boost
      - MYSQL_ROOT_HOST=%

  api-server:
    build:
      context: ./api-server
      dockerfile: Dockerfile
    volumes:
      - ./api-server:/app:cached
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    depends_on:
      - mysql-server

volumes:
  mysql:
