html {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* css variables */
:root {
  --color-primary: #ff3466;
  --color-primary-minus0: #ff7b80;
  --color-primary-minus1: #fd999c;
  --color-primary-minus2: #ffc4c6;

  --color-secondary-plus1: #ffb001;
  --color-secondary-plus1-lighter: #ffcf01;
  --color-secondary-plus0: #ec885e;
  --color-secondary: #feaa6e;
  --color-secondary-lighter: #fef2c7;
  --color-secondary-minus0: #ffc69d;
  --color-secondary-minus1: #ffd9be;

  --color-tertiary-plus0: #9eaa9f;
  --color-tertiary: #beddbf;
  --color-tertiary-darker: #beddbf77;

  --color-quaternary: #5c5749;

  --color-success: #5cb85c;
  --color-success-lighter: #6cbf6c;
  --color-warning: #f0ad4e;
  --color-warning-lighter: #f1b55f;
  --color-danger: #d9534f;
  --color-danger-lighter: #dc6460;

  --color-gray-lighter: #f9f9f9;
  --color-gray-lighter-plus: #d0d0d0;
  --color-gray: #cccccc;
  --color-gray-darker: #999999;

  --color-darkgray-lighter: #666666;
  --color-darkgray: #333333;
  --color-darkgray-darker: #111111;

  --padding-xs: 0.25rem;
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-xl: 1.75rem;
  --padding-xxl: 2rem;

  --margin-xs: 0.25rem;
  --margin-sm: 0.5rem;
  --margin-md: 1rem;
  --margin-lg: 1.5rem;
  --margin-xl: 1.75rem;
  --margin-xxl: 2rem;

  --font-size-xxs: 0.5rem;
  --font-size-xs: 0.8rem;
  --font-size-sm: 0.9rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.1rem;
  --font-size-xl: 1.2rem;
  --font-size-xxl: 1.5rem;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.danger {
  background-color: var(--color-danger-lighter);
}

.danger:hover {
  background-color: var(--color-danger);
}

.warning {
  background-color: var(--color-warning-lighter);
}

.warning:hover {
  background-color: var(--color-warning);
}

.success {
  background: var(--color-success-lighter);
}

.success:hover {
  background: var(--color-success);
}

#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

#modal .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
}

#modal .content {
  position: relative;
}
