@font-face {
  font-family: "NanumGothic-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/font/NanumGothic-Regular.ttf") format("truetype"),
    url("../assets/font/NanumGothic-Regular.woff") format("woff");
}

@font-face {
  font-family: "BMDOHYEON";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "NanumGothic-Regular", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar-track {
  border-radius: 0.25rem;
  background: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: rgba(64, 64, 64, 0.3);
}
